.form-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;;

    .label-container {
        display:flex;
        margin: 30px;
        align-items: center;
        font-weight: bold;
        font-size: 20px;
    }
}